#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  min-height: 100vh;
}

.main_div {
  margin-top: 50px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_div {
  width: 50%;
  max-width: 500px;
  padding: 20px;
  background-color: rgb(56, 55, 55);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
}

h1 {
  margin-bottom: 20px;
  color: azure;
}

input {
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: larger;
  font-family: 'Dancing Script', cursive;



}

/* Adjusted styling for the "+" button */


ol {
  list-style-type: none;
  padding: 0;
}
li{
  color: aliceblue;
  padding-right: 20px;
  font-family: 'Dancing Script', cursive;
  padding: 20px;

}


.input_container {
  
  justify-content: space-between;
  align-items: center;
}



button:hover {
  background-color: #45a049;
}
.list_item_container {
  display: flex;
  align-items: center;
}

.delete_button,
.edit_button {
  margin: 0; 
}

.delete_button {
   /* Add a small margin to separate delete and edit buttons */
  background-color: #483bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit_button {
  width: 20%; /* Set to 20% of the container width */
  padding: 10px;
  background-color: #dd0000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit_button:hover {
  background-color: #45a049;
}
